@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

PRE {
  background: #f4f4f4;
  border: 1px SOLID #ddd;
  border-left: 3px SOLID #f36d33;
  color: #666;
  page-break-inside: AVOID;
  font-family: MONOSPACE;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: AUTO;
  padding: 1em 1.5em;
  display: BLOCK;
  word-wrap: BREAK-WORD;
  margin-left: 95px;
}

/* pre {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #777;
  background: url(lines.png) repeat 0 0;
  padding: 10px;
  color: #333;
} */
